.pagination {
  width: 311px;
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #dd0e1d;
  border-radius: 28px;
  align-items: center;

  span {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
  }
}
