.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.select{
  font-size: 10px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.inner {
  width: 40%;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
  .logo_res {
    display: none;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  div {
    width: 26px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
}

.search {
  position: relative;
  display: flex;
  input {
    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    outline: none;
    padding: 0 20px;
    font-size: 0.8rem;
    font-style: normal;
    transition: 500ms;
  }

  .searchIcon {
    position: absolute;
    top: 1px;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 30px 30px 0;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.wrapper {
  width:50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
  }

  img {
    cursor: pointer;
  }
}


@media(max-width:1100px){

  .wrapper{
    gap: 10px;
  }
  .wrapper a{
    font-size: 0.7rem;
  }
}

// @media (max-width: 1300px) {
//   .header {
//     padding: 0 30px;
//   }
//   .search {
//     input {
//       width: 300px;
//     }
//   }

//   .wrapper {
//     width: 60%;
//     justify-content: space-evenly;

//     a {
//       font-size: 0.8rem;
//     }
//   }
// }

// @media (max-width: 1220px) {
//   .header {
//     padding: 0 10px;
//   }
//   .search {
//     input {
//       width: 300px;
//     }
//   }

//   .wrapper {
//     width: 60%;
//     a {
//       font-size: 0.8rem;
//     }
//   }
// }

@media (max-width: 1007px) {
  .inner {
    width: 100%;
    justify-content: start;
    gap: 15px;


    .search {
      width: 80%;
      input {
        width: 100%;
        font-size: 1.2rem;
      }
    }
  }

  .logo {
    .logo_1 {
      display: none;
    }
    .logo_res {
      display: block;
    }
  }

  .hamburger {
    display: block;
  }

  .wrapper {
    display: none;
  }
}

// @media (max-width: 700px) {
//   .inner .search {
//     width: 70%;
//   }

//   .inner {
//     .logo img {
//       width: 55px;
//     }
//     input {
//       font-size: 1.5rem;
//     }
//   }
// }

// @media (max-width: 500px) {
//   .inner {
//     width: 100%;
//     justify-content: space-evenly;

//     .search {
//       width: 100%;
//       input {
//         width: 100%;
//         font-size: 1.2em;

//         &::placeholder {
//           font-size: 1.2rem;
//         }
//       }
//     }
//   }
// }

.closer {
  position: absolute;
  font-size: 20px;
  right: 2%;
  top: 2%;
  cursor: pointer;
  z-index: 100;
}
