.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.inner {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
  .logo_res {
    display: none;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  div {
    width: 26px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
}

.search {
  position: relative;
  display: flex;
  input {
    width: 350px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    outline: none;
    padding: 0 20px;
    font-size: 0.8rem;
    font-style: normal;
    transition: 500ms;
  }

  .searchIcon {
    position: absolute;
    top: 1px;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 30px 30px 0;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.wrapper {
  // width:55%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
  }

  img {
    cursor: pointer;
  }
}

@media (max-width: 1300px) {
  .header {
    padding: 0 30px;
  }
  .search {
    input {
      width: 300px;
    }
  }

  .wrapper {
    width: 60%;
    justify-content: space-evenly;

    a {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1220px) {
  .header {
    padding: 0 10px;
  }
  .search {
    input {
      width: 300px;
    }
  }

  .wrapper {
    width: 60%;
    a {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1107px) {
  .header {
    padding: 0;
  }
  .inner {
    width: 100%;
    justify-content: center;

    .search {
      width: 50%;
      input {
        width: 100%;
      }
    }
  }

  .logo {
    .logo_1 {
      display: none;
    }
    .logo_res {
      display: block;
    }
  }

  .hamburger {
    display: block;
  }

  .wrapper {
    display: none;
  }
}

@media (max-width: 500px) {
  
  .inner{
    width: 100%;
   
    gap: 0px;
  

    .search {
      width: 100%;
      input {
        width: 100%;
        font-size: 1.3rem;

        &::placeholder{
          font-size: 1.3rem;
        }
      }
    }
  }
}

.closer {
  position: absolute;
  font-size: 20px;
  right: 2%;
  top: 2%;
  cursor: pointer;
  z-index: 100;
}
