.header {
  width: 100%;
  padding: 0 50px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.inner {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
}

.search {
  position: relative;
  input {
    width: 500px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    outline: none;
    padding: 0 20px;
  }

  span {
    position: absolute;
    top: 20%;
    right: 2%;
  }
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
  }

  #icon {
    width: 24px;
    height: 24px;
    font-size: 1.3rem;
    border: 2px solid #000000;
    border-radius: 20%;
  }
}
