@import "../../assets/styles/mixin";
.inputs {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;

  label {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 126%;
    gap: 10px;

    input,
    select {
      width: 90%;
      height: 50px;
    }
  }
  .input {
    position: relative;
    width: 100%;
    height: 50px;

    input {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 18%;
      bottom: 0;
      margin: auto;
      border: none;
      outline: none;
    }

    span,
    button {
      width: 7.5rem;
      height: 100%;
      right: 10%;
      position: absolute;
      border-radius: 30px;
      @include btnEffect;
    }

    button {
      right: 0;
    }

    button:hover {
      @include btnHover;
    }

    span {
      width: 66px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0%;
      border-radius: 25.5px;
      border: 1px solid red;
    }
  }

  .input,
  #email {
    border: 2px solid #dd0e1d;
    border-radius: 25.5px;
    padding: 0 20px;
  }

  .input {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 785px) {
  .inputs {
    width: 100%;
    justify-content: space-around;
    label {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 700px) {
  .inputs {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    label {
      width: 100%;
      font-size: 0.9rem;
      padding: 0 20px;

      input,
      select {
        width: 100%;
      }

      input:focus,
      select:focus {
        outline: none;
      }
    }

    .input input {
      width: 70%;
      padding: 0 10px;
      left: 0;
      right: 4%;
      bottom: 0;
      margin: auto;
      // background-color: red;
    }

    .input {
      span {
        width: 13%;
      }
      button {
        width: 16%;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 420px) {
  .inputs {
    .input {
      input{
        // background-color: blue;
        width: 55%;
        right:5%;
        left: 0;
        

      }
      span {
        width: 20%;
      }
      button {
        width: 25%;
        height: 100%;
        font-size: 0.9rem;
        // background-color: red;
      }
    }
  }
}


