.footer {
  top: 100%;
  position: absolute;
  width: 100%;
  background: #8f8f8fad;
  height: 50vh;
  margin: 5% 0;
  padding: 0 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 50%;
  column-gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.documents {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  h3 {
    color: #4e4e4e;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
  }
  ul {
    list-style-type: none;
    color: #ffffff;

    li {
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1000px) {
  .inner {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .inner {
    width: 60%;
    height: 70%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
