@import "../../assets/styles/mixin";
.aboutBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.chart {
  width: 60%;
}

.title {
  padding: 0 30px;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 400px;

  button {
    width: 11rem;
    height: 2.2rem;
    @include btnEffect;
  }

  button:hover {
    @include btnHover;
  }
}

.range {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  h3 {
    line-height: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: auto;
  }

  .chart {
    width: 100%;
    height: 50%;
  }

  .range {
    width: 100%;
    button {
      width: 30%;
      height: 50px;
    }
  }

  .price {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    // height: auto;
    justify-content: space-between;
    height: 100%;
  }

  .chart {
    width: 100%;
  }

  .range {
    width: 100%;
    button {
      width: 100%;
      height: 50px;
    }
  }
}
