@import "../../assets/styles/mixin";
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  position: relative;
  // padding: 80px 0;
  margin: 30px 0;
  a {
    text-decoration: none;
  }
}

#row {
  width: 100%;

  justify-content: space-between;
  row-gap: 80px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;

  button {
    width: 11rem;
    height: 38px;
    @include btnEffect;
  }

  button:hover {
    @include btnHover;
  }
}

.title {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.price {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.bottom {
  width: 90%;
  margin: 5% auto;
}

.inner {
  width: 311px;
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #dd0e1d;
  border-radius: 28px;
  align-items: center;

  span {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 864px) {
  #row {
    width: 100%;
    justify-content: space-around;
    gap: 50px;
  }
  // .card {
  //   width: 13rem;
  //   height: 20rem;
  // }
}

@media (max-width: 575px) {
  #row {
    justify-content: center;
  }

  #col {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card {
    width: 226px;
    p {
      font-size: 1.6rem;
    }
    button {
      width: 176px;
    }
  }

  .bottom{
    display: flex;
    justify-content: center;

    .inner{
      width: 224px;
      height: 46px;
      span{
        width: 39px;
        height: 90%;
      }
    }
  }
}

// @media (max-width: 960px) {
//   #row {
//     justify-content: flex-start;
//     gap: 30px;
//     row-gap: 60px;
//   }
//   .card {
//     width: 15rem;
//     height: 24rem;
//   }
// }

// @media (max-width: 700px) {
//   #row {
//     justify-content: flex-start;
//     gap: 90px;
//   }
//   .card {
//     width: 15rem;
//     height: 24rem;
//   }
// }

// @media (max-width: 650px) {
//   #row {
//     justify-content: center;
//     row-gap: 90px;
//   }
//   #col {
//     width: 100%;
//     flex: 100%;
//     height: 500px;
//     display: flex;
//     justify-content: center;

//     .card {
//       width: 60%;
//       height: 450px;
//       p {
//         font-size: 1.5rem;
//       }
//       button {
//         width: 200px;
//       }
//     }
//   }
// }

// @media (max-width: 450px) {
//   #row {
//     row-gap: 150px;
//     #col {
//       height: 350px;
//     }
//     .card {
//       width: 80%;
//       height:40rem;
//       button {
//         width: 14.5rem;
//       }
//     }
//   }

//   .bottom{
//     width: 250px;
//     margin: 30% auto;
//     .inner{
//       width: 100%;
//     };
//   }
// }
