@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Regular.woff") format("woff"),
    url("./Gilroy/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Medium.woff") format("woff"),
    url("./Gilroy/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Gilroy/Gilroy-SemiBold.woff") format("woff"),
    url("./Gilroy/Gilroy-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Bold.woff") format("woff"),
    url("./Gilroy/Gilroy-Bold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  select:focus {
    outline: none;
  }

  button {
    cursor: pointer;
    border: 2px solid #dd0e1d;
    outline: none;
  }
}

/* width */

html {
  font-size: 16px;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
}




@media (max-width: 960px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  html {
    font-size: 11px;
  }
}

.app {
  position: relative;
  // height: 100vh;
}
