@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Bold.woff") format("woff"),
    url("./Gilroy/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Medium.woff") format("woff"),
    url("./Gilroy/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Bold.woff") format("woff"),
    url("./Gilroy/Gilroy-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Gilroy/Gilroy-Bold.woff") format("woff"),
    url("./Gilroy/Gilroy-Bold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
}


@media (max-width:960px){
  html {
    font-size: 13px;
  }
 
}

.app{
  position: relative;
  // height: 100vh;
}